body{
	overflow-x: hidden;
}

header{
	background-color: rgba(255, 255, 255, .9);
	position: relative;
	z-index: 10;
	clear: both;

	@media (min-width: 600px) {
		padding: 1.2rem 2.4rem;
	}

	h1{
		display: inline-block;
		line-height: 0;
		font-size: 0;
	}

	.site-title {
		display: inline-block;
	}

	.logo {
		width: 300px;
	}

	nav{
		float: right;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 4.8rem;
		padding: 40px 0;

		a{
			padding: 0 1.2rem;
			display: inline-block;
		}

		a:link{
			border-bottom: 2px transparent solid;
			color: $gray2;
			text-decoration: none;
		}
	
		a:visited{
			color: $gray2;
		}

		a:hover,
		a:focus{
			border-bottom-color: $primary;
			color: $gray1;
		}

		a.active{
			border-bottom-color: $primary-dark;
			color: $gray1;
		}
	
		a:active{
			color: $gray2;
		}
	}

	.nav-button {
		margin-left: 1.2rem;
		@extend .btn;
		// &:link{
		// 	border-bottom: none;
		// 	background-color: $primary;
		// 	color: $white;
		// 	text-decoration: none;
		// }
	
		// &:visited{
		// 	color: $white;
		// }

		// &:hover,
		// &:focus{
		// 	border-bottom-color: $primary;
		// 	color: $white;
		// }

		// &.active{
		// 	border-bottom-color: $primary-dark;
		// 	color: $white;
		// }
	
		// &:active{
		// 	color: $white;
		// }
	}
}

.site-header {
	border-bottom: 1px solid rgba(0,0,0, .85);
}

.page-content {
	padding: 0 1.2rem;
}

.static {
	position: relative;
	z-index: 5;
}

.main {
	background-color: rgba(255, 255, 255, .9);
	border: 1px solid rgba(0,0,0, .85);
	border-radius: 2px;
	margin: 2.4rem auto;
	padding: 2.4rem 1.2rem;
	width: 960px;

	@media (min-width: 600px) {
		padding: 2.4rem;
	}
}

.hero{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('/img/hero/cliffs_max.jpg') no-repeat center bottom;
	box-sizing: border-box;
	position: fixed;
	z-index: 0;
	box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25) inset;
	align-items: center;
	text-align: center;

	&:after{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 1;
	  background-color: rgba(0,0,0,.2);
	  mix-blend-mode: multiply;
	  content: '';
	}
  
	*{
	  position: relative;
	  z-index: 2;
	}
}

.hero-content {
	color: $white;
	position: relative;
	z-index: 5;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0,0,0,.8);

	h2 {
		font-size: 3.6rem;
	}

	h2:last-child {
		padding-bottom: 0;
	}

	p {
		font-size: $font-size--large;
	}
}

footer {
	background-color: $gray5;
	position: relative;
	padding: 2.4rem 1.2rem;
	z-index: 5;

	@media (min-width: 600px) {
		padding: 2.4rem;
	}
}

.site-sub-nav{
	background-color: $gray6;
	border-bottom: 1px solid $gray5;
	padding: 1.2rem;
	font-size: $font-size--small;
	margin-bottom: -1px;

	a{
		display: inline-block;
		padding: 0 8px;
	}
}

.section {
	margin: 3.6rem 0;

	&.--who {
		margin-top: 0;
	}

	&.--contact {
		margin-bottom: 1.2rem;
	}
}