body{
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	transition: all 200ms ease-in-out;
}

header{
	background-color: rgba(255, 255, 255, .9);
	position: relative;
	z-index: 10;
	clear: both;

	@media (min-width: 600px) {
		padding: 1.2rem 2.4rem;
	}

	h1{
		display: inline-block;
		line-height: 0;
		font-size: 0;
		padding: 0;
	}

	.site-title {
		display: inline-block;
	}

	.logo {
		width: 300px;
	}

	nav{
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 4.8rem;
		padding: 40px 0;

		a{
			padding: 0 1.2rem;
			display: inline-block;
		}

		a:link{
			border-bottom: 2px transparent solid;
			color: $gray2;
			text-decoration: none;
		}
	
		a:visited{
			color: $gray2;
		}

		a:hover:not(.nav-button),
		a:focus:not(.nav-button){
			border-bottom-color: $primary;
			color: $gray1;
		}

		a.active:not(.nav-button){
			border-bottom-color: $primary-dark;
			color: $gray1;
			cursor: default;
		}
	
		a:active{
			color: $gray2;
		}
	}

	.nav-button {
		margin-left: 1.2rem;
		@extend .btn;
	}
}

.site-header {
	border-bottom: 1px solid $gray5;
}

.site-nav {
	@media (max-width: 959px) {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		bottom: 0;
		width: $drawer-width;
		right: -$drawer-width;
		border-left: 1px solid $gray5;
		background-color: $white;
		padding: 1.2rem;
		transition: right 200ms ease-in-out;

		a:not(.nav-button) {
			padding-left: 0;
			border-bottom: none !important;
			font-size: $font-size--large;
		}

		a.active {
			font-weight: bold;
		}

		.nav-item-wrapper {
			display: block;
		}

		.nav-button {
			margin-left: 0;
			margin-top: 2.4rem;
			width: 100%;
		}

		h4 {
			padding: 0;
			font-size: 1.4rem;
			color: $gray3;
			font-weight: bold;
		}
	}

	@media (min-width: 960px) {
		float: right;

		.nav-item-wrapper {
			display: inline-block;
		}

		h4 {
			display: none;
		}
	}
	
}

@media (max-width: 959px) {
	.drawer-open {
		width: calc(100% - #{$drawer-width});
		min-width: 500px;
	}

	.drawer-open .site-nav {
		right: 0;
	}
}

@media (max-width: calc(500px + #{$drawer-width})) {
	.drawer-open {
		width: 100%;
		min-width: 100%;
	}
}

.site-nav {
	@media (min-width: 960px) {
		right: 0;
	}
}
.site-nav-icon {
	display: flex;
	align-items: center;
	font-size: 3.6rem;

	a:link{
		color: $primary-dark;
	}

	a:visited{
		color: $primary-dark;
	}

	a:hover,
	a:focus{
		color: darken($primary-dark, 5%);
	}

	a:active{
		color: darken($primary-dark, 5%);
	}
}

.site-nav-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2.4rem;

	@media (min-width: 960px) {
		display: none;
	}
}

.site-nav-close {
	position: absolute;
	top: .6rem;
	right: .6rem;

	a{
		display: block;
		padding: 0 .6rem !important;
		font-size: 2.4rem !important;
	}

	@media (min-width: 960px) {
		display: none;
	}
}

.page-content {
	padding: 0 1.2rem;
}

.static {
	position: relative;
	z-index: 5;
}

.main {
	background-color: rgba(255, 255, 255, .9);
	border: 1px solid rgba(0,0,0, .85);
	border-radius: 2px;
	margin: 2.4rem auto;
	padding: 2.4rem 1.2rem;
	max-width: 960px;

	@media (min-width: 600px) {
		padding: 2.4rem;
	}
}

.hero{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('/img/hero/cliffs_max.jpg') no-repeat center bottom;
	box-sizing: border-box;
	position: fixed;
	z-index: 0;
	box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25) inset;
	align-items: center;
	text-align: center;

	&:after{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 1;
	  background-color: rgba(0,0,0,.3);
	  mix-blend-mode: multiply;
	  content: '';
	}
  
	*{
	  position: relative;
	  z-index: 2;
	}
}

.hero-content {
	color: $white;
	position: relative;
	z-index: 5;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0,0,0,.8);

	h2 {
		font-size: 3.6rem;
	}

	h2:last-child {
		padding-bottom: 0;
	}

	p {
		font-size: $font-size--large;
	}
}

footer {
	background-color: $gray5;
	position: relative;
	padding: 2.4rem 1.2rem;
	z-index: 5;

	@media (min-width: 600px) {
		padding: 2.4rem;
	}
}

.site-sub-nav{
	background-color: $gray6;
	border-bottom: 1px solid $gray5;
	padding: 1.2rem;
	font-size: $font-size--small;
	margin-bottom: -1px;

	a{
		display: inline-block;
		padding: 0 8px;
	}
}

.section {
	margin: 3.6rem 0;

	&:first-child {
		margin-top: 0;
	}

	&.--contact {
		margin-bottom: 1.2rem;
	}
}